<% layout('/layouts/boilerplate') -%>
<body>
  <h3>Edit your Listing</h3>

  <div class="row">
    <form id="listingForm" method="POST" action="/listings/<%= listing._id %>?_method=PUT" >

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Please provide a Title</div>   
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please provide a Description</div>   
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Please provide an Image URL</div>   
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="Price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" class="form-control" type="number" required />
          <div class="invalid-feedback">Please provide a Price</div>   
        </div>
        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" value="<%= listing.country %>" type="text" required />
          <div class="invalid-feedback">Please provide a Country</div>   
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Please provide a Location</div>   
      </div>

      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
<script src="/js/script.js"></script>
  
</body>
