<% layout('/layouts/boilerplate') -%>

<body>
  <div class="container">
    <h3>Listing Details:</h3>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <img class="card-img-top" src="<%= listing.image %>" alt="Listing Image">
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <ul class="list-unstyled">
              <li>Price: ₹ <%= listing.price.toLocaleString("en-IN") %></li>
              <li>Location: <%= listing.location %>, <%= listing.country %></li>
            </ul>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit this Listing</a>
            <form style="display: inline;" method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
              <button type="submit" class="btn btn-danger">Delete this Listing</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
